<form action="/upload-photo" method="post" enctype="multipart/form-data">
    <input type="file" name="avatar" />
    <input type="hidden" name="username" value="testuser" />
    <input type="submit" />
</form>